# Ignorar arquivos do Visual Studio
.vs/
.vscode/
.idea/

# Ignorar pastas de build
bin/
obj/

# Ignorar arquivos de sistema
Thumbs.db
.DS_Store

# Ignorar arquivos de configuração do projeto (se não quiser rastrear as configurações do usuário)
*.user
*.suo
*.userosscache
*.sln.docstates
